body{
    font-family: 'Oswald', sans-serif;
}

header nav ul li  { display: inline-block;
    font-family:'Courgette', cursive;
    padding: 10px;
    background-color: #d8e2dc;
    border-radius: 40px;
    text-align: center;
    margin: 50px;
}



nav ul li a :hover{
background-color: cornflowerblue;


}

/* make the hero img in the center */
section > img {
margin-left: auto;
margin-right:auto ;
display: block;



}






div  ul li  {
    display: inline-block;
padding: 15px;
margin-left: auto;
margin-left: 25px;
margin-bottom: 30px;
margin-right: auto;
}

















section.f >img {
    float: left;
}